body {
  background-color: #e0e0e0;
  color: black;
}
#top img{
  width: 7%;
  float: left;
}
#top {
  padding: 10x;
  text-align: center;
  text-decoration: underline;
  font-size: 200%;
  background-color: #113edd;
  color: white;
}
#Stats img{
  width: 20%;
  float: left;
}
#Stats h2{
  font-size: 235%;
}
#Stats table, th, td {
  border: 2px solid white;
  border-collapse: collapse;
}
#Stats th, td {
    padding: 15px;
}
#Stats th {
    text-align: left;
    background-color: #eee;
}
